.thumbnail img {
  width: 100%;
  height: 180px;
 }
 
.thumbnail {
    padding: 0;
}

.thumbnails {
    height: 100%;
}

.thumbnails .caption-full {
    padding: 9px;
}

#delete-form {
    display: inline;
}